# Author : Paul Capgras
# Date   : Jun 14, 2025

Components/**
Order/**
build/**
sdkconfig

kicad/jack2bluetooth/jack2bluetooth-backups

software/esp32_i2c/build/**
software/esp32_bluetooth_sink/build/**
software/esp32_b2j/build/**
software/a2dp_sink/

.DS_Store
