# Author : Paul Capgras
# Date   : Jun 14, 2025

Components/**
Order/**
build/**
sdkconfig

kicad/jack2bluetooth/jack2bluetooth-backups

software/esp32_i2c/build/**
software/esp32_j2b/build/**
software/esp32_b2j/build/**
software/a2dp_source/build/**
software/a2dp_source_aac/build/**
software/a2dp_source_aac/managed_components/**
software/a2dp_sink/

doc/standards

.DS_Store
